.footer {
    width: 100%;
}

.topFooter {
    background-color: #ffe11a;
    height: 40px;
}

.bottomFooter {
    background-color: #fd7400;
    height: 30px;
}

.footerText {
    color: white;
    margin-left: 1%;
}